/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/06/2018, 01:08:37
    Author     : Gutemberg
*/
body{
    background: #E8E8E8;
    margin:0;
}
.ferramentas{
    background: White;
    margin-left:-0.9px;
    width:285px;
    height:290px;
    display: inline-block;
    position: relative;
    margin-top:2.9px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1.5px 0px 1px #CCC;
    font-family: Arial;
    text-align: center;
}
input, option, select{
    padding:5px;
}
table, tr, td{
    font-size: 12px;
    width:20%;
    border:1px Solid #CCC;
    border-collapse: collapse;
    padding:10px;
    background:white;
    border:0px;
    border-bottom:1px Solid #CCC;
    font-family: Arial;
    text-align:center;

}
th{
    padding:15px;
    border:0px;
}
.menu{
    border:1px Solid #696969;
    background:#696969;
    height:60px;
}
.menu_titulo{
    font-family:Arial;
    color:White;
    margin-top:20px;
    margin-left:30px;
}